body{
margin:0;
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

header{
background:black;
padding:20px;
font-size:22px;
}

.hero{
padding:40px;
}

#timer{
font-size:24px;
color:#ff4444;
}

.movies{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.movie-card{
background:#222;
padding:10px;
border-radius:10px;
width:150px;
}

.movie-card img{
width:100%;
border-radius:10px;
}
.teaser button{
background:#e50914;
color:white;
padding:12px 25px;
border:none;
font-size:16px;
border-radius:6px;
cursor:pointer;
}
.cast-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:30px;
}

.actor{
text-align:center;
}

.actor img{
width:150px;
height:150px;
object-fit:cover;
border-radius:50%;
border:3px solid white;
transition:0.3s;
}

.actor img:hover{
transform:scale(1.1);
}

.actor p{
margin-top:10px;
font-size:16px;
}
.crew-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:20px;
}

.crew-card{
background:#222;
padding:20px;
border-radius:10px;
width:200px;
}
.poster-gallery{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
padding:20px;
}

.poster-gallery img{
width:200px;
border-radius:10px;
transition:0.3s;
}

.poster-gallery img:hover{
transform:scale(1.1);
}
.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.popup-content{
position:relative;
}

.close{
position:absolute;
top:-30px;
right:0;
color:white;
font-size:25px;
cursor:pointer;
}
.highlight-star{
font-size:18px;
color:#ffd700;
font-weight:bold;
margin-bottom:15px;
}